@import 'node_modules/bootstrap/scss/bootstrap';
@import './variables.scss';
@import './layout';

button {
    display: inline-block;
    border: none;
    appearance: none;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    border-radius: 2em;
    padding: 0.7em 1em;
    border: 2px solid transparent;
    background: $lightpink;
    color: $darkgray;
}

textarea.form-control {
    border: 1px solid $lightpink;
}

body {
    font-family: Roboto, sans-serif;
}

figure.img-fluid > picture > img {
    max-width: 100%;
}
